@font-face {
    font-family: Yugioh;
    src: url(fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 1.ttf);

}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    33% {
        background-position: top;
    }
    66% {
        background-position: right;
    }
    100% {
        background-position: bottom;
    }
}

html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, #2a07a6, #34069c, #3b0593, #3f068a, #420781, #3c0b76, #370d6b, #320f60, #26104f, #1c0f3f, #150a2e, #0e021e);
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
    justify-content: center;
    align-items: center;
}


.card {
    
    width: 23.4375rem;
    height: 42rem;
    background-image: linear-gradient(to right bottom, #e33f05, #f70043, #f5007c, #d200bc, #7534f8);
    border-image-slice: 1 ;
    text-align: center;
    margin: auto;
    border-radius: 0.625rem;
    position: relative;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    background: linear-gradient(to right bottom, #e33f05, #f70043, #f5007c, #d200bc, #7534f8);
    z-index: -1;
    border-radius: inherit;
    filter: blur(0.5rem);
  }

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
}

.name h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #c2d6e6;
    border-radius: 0.9375rem;
    font-family:'Yugioh';
    font-size: 2.5rem;
    padding: 0px 0.9375rem 0.125rem 0.9375rem;
    box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.5);
}

.name h1 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.name h1:hover {
    color:black;
    background-color: #c2d6e6;
    border: 0.3125rem solid #170000;
}

.gender {
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #00adff, #0092ff, #0074ff, #004fff, #0004f3);
}

.gender img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    padding: 0.5rem;
}


.avatar img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 78% 2.5% 78% 0% / 25% 2.5% 25% 0%;;
}

.AboutMe {
    display: flex;
    margin-left: 1.5rem;
    margin-right: auto;
    margin-top: -1.5rem;
    position: absolute;
    height: 0.1rem;
}   

.AboutMe h1 {
    text-align: center;
    font-family:'Yugioh';
    font-size: 2.5rem;
    border-radius: 0.625rem;
    background-image: linear-gradient(to right bottom, #dec81a, #b9c607, #91c20c, #64be1f, #16b832);
    padding: 0px 0.9375rem 0.125rem 0.9375rem;
    justify-content: center;
    align-items: center;
}

.AboutMe .content {
    display: none;
    padding: 0 0.5rem;
}

.AboutMe:hover .content {
    display: block;
    display: wrap;
    background-image: linear-gradient(to right bottom, #dec81a, #b9c607, #91c20c, #64be1f, #16b832);
    border-radius: 0.625rem;


}

.AboutMe:hover {
    display: flex;
    flex-wrap: wrap;
    width: 23rem;
    height: 15rem;
    margin-left: 0.2rem;
    margin-right: auto;
    text-align: start;
    bottom: -2.7rem;
    justify-content: center;
    align-items: center;
}

.AboutMe:hover h1 {
    display: none;
}

.AboutMe:hover ~ .Experiences{
    display: none;
}
.AboutMe:hover ~ .icon{
    display: none;
}




.Experiences {
    display: flex;
    margin-left: 1.5rem;
    margin-right: auto;
    margin-top: 2.5rem;
    position: absolute;
    height: 0.1rem;
}   

.Experiences h1 {
    text-align: center;
    font-family:'Yugioh';
    font-size: 2.5rem;
    border-radius: 0.625rem;
    background-image: linear-gradient(to right bottom, #dec81a, #b9c607, #91c20c, #64be1f, #16b832);
    padding: 0px 0.9375rem 0.125rem 0.9375rem;
    justify-content: center;
    align-items: center;
}

.Experiences .content {
    display: none;
    padding: 0 0.5rem;
}

.Experiences:hover .content {
    display: block;
    display: wrap;
    background-image: linear-gradient(to right bottom, #dec81a, #b9c607, #91c20c, #64be1f, #16b832);
    border-radius: 0.625rem;
}

.Experiences:hover {
    display: flex;
    flex-wrap: wrap;
    width: 23rem;
    height: 15rem;
    margin-left: 0.2rem;
    margin-right: auto;
    text-align: start;
    bottom: -2.7rem;
    justify-content: center;
    align-items: center;
}

.Experiences:hover h1 {
    display: none;
}
.Experiences:hover ~ .icon{
    display: none;
}

.Facebook{
    display: flex;
    margin-top: 0rem;
    right: 2.5rem;
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
}
.Facebook img{
    width: 3.5rem;
}

.Facebook:hover {
    box-shadow: 0 0 10px 10px rgb(74, 6, 210);
    border-radius: 50%;
}

.Telephone{
    display: flex;
    margin-top: 4.2rem;
    right: 2.5rem;
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 50%;
    padding: 0.25rem 0.25rem;
    justify-content: center;
    align-items: center;
}
.Telephone img{
    width: 2.2rem;
}

.Telephone:hover {
    box-shadow: 0 0 10px 10px rgb(74, 6, 210);
    border-radius: 50%;
}

.Email{
    display: flex;
    position: absolute;
    margin-left: 1rem;
    bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
}
.Email img{
    width: 3.5rem;
}

.Email h2 {
    height: 2rem;
    border-radius: 0.625rem;
    background-image: url(images/universe.gif);
    color: white;
    padding: 0 0.25rem;
    margin-left: 1rem;
}

.Email:hover h2 {
    box-shadow: 0 0 3px 3px rgb(55, 239, 9);
   
}

