@font-face {
    font-family: Yugioh;
    src: url(fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 1.ttf);

}

* {
    box-sizing: border-box;
}

body {
    background: url(images/universe.gif);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-size:xx-large;
    color: #e7edf1;
   
}

.title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-image: url(images/Link-Background-Texture.png);
    border: solid rgb(95, 85, 85) 0.3125;
    border-radius: 0.625rem;
    font-family: 'Yugioh';
    padding: 0rem 0.9375rem 0.625rem 0.9375rem;
   
}

main {
    width: 23.4375rem;
    height: 33.125rem;
    background-image:url('images/Link-Background-Texture.png');
    border: 0.5rem solid rgb(95, 85, 85);
    text-align: center;
    margin: 0 auto;
    border-radius: 0.625rem;
    
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
}

.name h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3125rem solid #98542b;
    background-color: #c2d6e6;
    border-radius: 0.9375rem;
    font-family:'Yugioh';
    padding: 0px 0.9375rem 0.125rem 0.9375rem;
}

.name h1 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.avatar img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.625rem ridge black;
    margin: 0 auto;
    width: 18.75rem;
    height: 14.375rem;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4375rem ridge #98542b;
    background-color:#c2d6e6;
    font-family:'Yugioh';
    padding: 0px 0.9375rem 0.125rem 0.9375rem;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;

   
}

.icons a {
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
}


.icons a h2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3125rem ridge #98542b;
    background-color:#c2d6e6;
    border-radius: 0.9375rem;
    font-family:'Yugioh';
    padding: 0.5rem;
    text-transform: uppercase;
}

.icons a img {
    width: 2.125rem;
}